h1, h2, h3{
    text-align: center;
}
li {
font-weight: bold;
}

.flex-container1{
    display: flex;
    background-color: cyan;
}
.flex-container1> div{
    background-color: dodgerblue;
    color: white;
    width:100px;
    margin:10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container2{
    display: flex;
    align-items: stretch;
    background-color: cyan;
}
.flex-container2> div{
    background-color: dodgerblue;
    color: white;
    width:100px;
    margin:10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container3{
    display: flex;
    align-items: stretch;
    background-color: cyan;
}
.flex-container3> div{
    background-color: dodgerblue;
    color: white;
    width:100px;
    margin:10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container4{
    display: flex;
    align-items: stretch;
    background-color: cyan;
}
.flex-container4> div{
    background-color: dodgerblue;
    color: white;
    width:100px;
    margin:10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container5{
    display: flex;
    align-items: stretch;
    background-color: cyan;
}
.flex-container5> div{
    background-color: dodgerblue;
    color: white;
    width:100px;
    margin:10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container6{
    display: flex;
    align-items: stretch;
    background-color: cyan;
}
.flex-container6> div{
    background-color: dodgerblue;
    color: white;
    width:100px;
    margin:10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container6{
    display: flex;
    align-items: stretch;
    background-color: cyan;
}
.flex-container6> div{
    background-color: dodgerblue;
    color: white;
    width:100px;
    margin:10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container7{
    display: flex;
    height: 200px;
    background-color: cyan;
}
.flex-container7> div{
    background-color: dodgerblue;
    color: white;
    width:100px;
    margin:10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

section{
    border: 2px solid maroon;
    padding: 5px;
}

